*.ipynb_checkpoints
*.pyc
*.DS_Store
*.__pycache__
*.pytest_cache
data
runs
examples/saved_models

/*.egg-info
*.png
*.jpg
*.pdf
*.csv
*.npz
*.pickle
*.gz
*.npy
*.network
*.json
*.zip
*.cache
*.log
docs/build
