language: python
python:
  - "3.6"
install:
  - pip install --upgrade pip
  - pip install --progress-bar off -r requirements.txt
  - pip install -e .
script:
  - pytest
branches:
  only: 
    - master
