numpy>=1.6.1
scipy>=0.19.0
matplotlib==2.0.2
scikit-learn>=0.19.0
sphinx==1.8.3
pandas==0.23.4
pydash==4.7.4
tqdm==4.25.0
http://download.pytorch.org/whl/cu75/torch-0.2.0.post3-cp35-cp35m-manylinux1_x86_64.whl
torchvision==0.2.1
